body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  grid-template-columns: repeat(5, auto);
  gap: 10px;
}

.head {
  display: grid;
  place-items: center;
  margin: 30px;
  color: blue;
  background-color: aqua;
}
